[workspace]
members = [".", "lsp"]
resolver = "2"

[package]
name = "http-client"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
zed_extension_api = "0.7.0"
